@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid var(--text);
}

th, td {
    border: 1px solid var(--text);
    padding: 6px 13px;
}

pre {
    border-radius: 10px;
}
